body {
    background-color: #101418;
    background-attachment: fixed;
    background-size: cover;
    width: "100%"

}


h2 {
    margin: 2rem 0
}

.extras {
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}




html,
* {
    font-family: 'Inter';
}


